---
interface Props {
  data: {
    title: string;
    github: string;
    url: string;
    desc: string;
    tech: string[];
  };
}
const { data: {
  title, github, url, desc, tech
}} = Astro.props as Props;
---

<div class='h-24 flex flex-col items-center justify-center space-y-2 font-semibold rounded-lg border-[1px] border-none bg-white/5 p-4 text-sm rounded-md shadow-md'>
  <h2 class='text-xl font-baunk text-gray-800 dark:text-gray-200 py-4'>{title}</h2>
  <a href={github}>GitHub</a>
  <a href={url}>Live Site</a>
  <p>{desc}</p>
  <p>{tech.map(name => (
    <bold>{name}</bold>
  ))}</p>
</div>
